{% extends "base.html" %} {% block content %} {% load static %}
<section class="content">
  <div class="head">
    <div class="header">
        <img src="static/img/logo-twitterblue.svg" alt="techis-logo" />
        <h1>Home</h1>
    </div>
  </div>
  <section class="post_form">
        <form action="/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="logo">

                <img src="{% static 'img/man-user.png' %}" alt="" />
            </div>

            <input  type="text" name="name" placeholder="Your name" required />
            <textarea name="body" placeholder="What's on your mind?"  required></textarea>
            <input id="file" name="image" type="file" />
            <button type="submit" id="tweet">Tweet</button>

        </form>
</section>
<section class="posts"> 
    <ul>
        {% for post in posts %}
            <li>
              <img class="menu_icon js-menu-icon" src="{% static 'img/menu.png' %}" alt="" />
              <div class="menu">
                  <a href="/edit/{{post.id}}/">Edit</a><br>
                  <a href="/delete/{{ post.id }}/">Delete</a>
              </div>
              <div class="logo">
                <img src="{% static 'img/man-user.png' %}" alt="" />
               </div>
               <div class="name_body">
                <div class="name">{{post.name}}</div> <br>
                <div class="date">{{post.created_at}} </div><br>
                <p>{{post.body}}</p>
                {% if post.image.url %}
                <img class="image" src="{{ post.image.url }}" style="width: 100%;" />
                {% endif %}
                <div class="heart">
                  <a href="/likes/{{post.id}}/">
                      <img src="{% static 'img/heart.png' %}"
                    /></a>
                    {{post.like_count}}
                </div>
             </div> 
            </li>
        {% endfor %}
    </ul>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
      crossorigin="anonymous"></script>
<script src="{% static 'js/posts.js' %}"></script>
</section>
{% endblock %}