
.content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.post_form {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.nameing {
    margin-top: 10px;
    padding: 10px;
    width: 70%;
    border: 1px solid white;
    background-color: #e6fdf7;
}


.post_form textarea {
    width: 70%;
    border: 0px;
    height: 30%
}
.posts li {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 20px 40px;
    position: relative;
}

.posts ul{
    padding: 0;
}

.posts li .logo {
    flex-basis: 15%;
}

.posts li .logo img {
    width: 60%;
}

.posts li .name_body {
    flex-basis: 85%;
}

.posts li .name_body .name {
    font-weight: bold;
}

.posts li .name_body .date {
    color: gray;
}

.menu_icon {
    top: 10px;
    right: 30px;
    width: 20px;
    height: 20px;
    position: absolute;
}

.menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
}

.menu a {
    text-decoration: none;
}

@media screen and (max-width: 500px) {
     .name {
        font-size: 20px;
    }
}

.header img {
    width: 60px;
    position: relative;
    float: left;
}

.header h1 {
    display: block;
    font-family: sans-serif;
    padding: 19px;
}

.head {
    border-bottom: 1px solid #ccc;
}

.logo img {
    width: 50px;
    float: left;
    padding: 5px 15px;
}

.post_form button {
    background-color: rgb(29, 161, 242);
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: white;
    font-family: sans-serif;
    padding: 6px 12px;
    line-height: 1.5;
    text-align: center;
    display: inline-block;
    border-radius: 0.25rem;
    vertical-align: middle;
    border: 1px solid transparent;
}

.file {
    padding: 1%;
    border: 1px solid #ccc;
    margin-left: 81px;
    background-color: white;
    margin-right: 88px;
    margin-bottom: 8px;
}

#cancel {
    background-color: #494949 !important;
    margin-left: -54px;
    margin-right: 38px;
}

.heart img {
    width: 20px;
    padding: 5px;
}