{% extends "base.html" %} {% block content %} {% load static %}

<section class="content">
    <div class="head">
        <div class="header">
            <img src="{% static 'img/logo-twitterblue.svg' %}" alt="techis-logo" />
            <h1>Edit Tweet</h1>
        </div>
    </div>
    <section class="post_form">
        <form action="/edit/{{post.id}}/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="logo">

                <img src="% static 'img/man-user.png' %}" alt=""/>
            </div>

            <input  type="text" name="name" value="{{post.name}}" required />
            <input class="textarea"  name="body" value="{{post.body}}" required/>
            {% if post.image.url %}
            <img src="{{post.image.url}}" class="image2" style="width: 50%; padding-bottom:20px"/>
            {% endif %}
            <input id="file" name="image" type="file"/>
            <input value="cancel" type="submit" style="width: 62px; background-color: #3494dd;"/>
            <input type="submit" value="edit" style="width: 60px; background-color: red;" />

        </form>
    </section>
    </section>
    {% endblock %}
